- var max = Math.max.apply(Math,recents.map(function(o){return o.count;}))
    center
        .grid
            .grid-sizer
            - for (var i = 0; i < recents.length; i++) {
                - if (recents[i].count == max) {
                .grid-item.grid-item--top
                    a(href="/poll/"+ recents[i].id ) #{recents[i].question}
                - } else if (recents[i].count >= max/2) {
                    - if(recents[i].count % 2 == 1) {
                    .grid-item.grid-item--height2
                        a(href="/poll/"+ recents[i].id ) #{recents[i].question}
                    - } else {
                    .grid-item.grid-item--width2
                        a(href="/poll/"+ recents[i].id ) #{recents[i].question}
                    - }
                - } else {
                .grid-item
                    a(href="/poll/"+ recents[i].id ) #{recents[i].question}
                - }
            - }
            
            
            
            .grid-item
                a(href="/poll/"+ recents[1].id ) #{recents[1].question}
            .grid-item
            .grid-item
            .grid-item.grid-item--height2
            .grid-item
            .grid-item
            .grid-item
            .grid-item
            .grid-item
            .grid-item
            .grid-item.grid-item--height2
            .grid-item
            .grid-item.grid-item--width2
            .grid-item.grid-item--width2
            .grid-item
            .grid-item
            .grid-item.grid-item--top
            .grid-item
            .grid-item
            .grid-item.grid-item--height2
            .grid-item
            .grid-item
            .grid-item.grid-item--height2
            
    script.
        var $grid = $('.grid').masonry({
            itemSelector: '.grid-item',
            columnWidth: '.grid-sizer',
            percentPosition: true,
            originLeft: false
        });
        $grid.on( 'click', '.grid-item', function() {
            $( this ).toggleClass('grid-item--gigante');
            $grid.masonry();
        });