doctype html
html(lang="en")
    head
        include universal/head
    body
        include universal/nav
        block content
            .main.container-fluid
                .row
                  .col-sm-6.col-sm-offset-3
                    center#poll-box
                        h2 #{question}
                        form(method='POST').top-space
                            - for(var i = 0; i < options.length; i++) {
                            div.form-group
                                button.btn.btn-primary#options(type='submit' name='option' value=i) #{options[i].answer}
                            - }
                        p.top-space Asked by <strong> #{asker} </strong> on #{prettyDate(date)}!
                        
        include universal/script
 
//FUNCTIONS #{asker}

-function prettyDate(i){
    -var d = date.getDate(i);
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -return m+' '+d+' '+y;
-}