doctype html
html(lang="en")
    head
        include universal/head
        
    body
        
        include universal/nav
        
        block content
            .main.container
                .row
                  .col-md-6.col-md-offset-3
                    center
                        h2 #{question}
                        form(method='POST')
                            - for(var i = 0; i < options.length; i++) {
                            div.form-group
                                button.btn.btn-primary#options(type='submit' name='option' value=i) #{options[i].answer}
                            - }
                        hr
                        p Asked by user <strong> anon </strong> on #{prettyDate(date)} !
                        
        include universal/script
 
//FUNCTIONS #{asker}

-function prettyDate(i){
    -var d = date.getDate(i);
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -return m+' '+d+' '+y;
-}